{
  "plugins": ["todo-plz"],
  "rules": {
    "todo-plz/ticket-ref": ["error", { "pattern": "PROJ-[0-9]+" }]
  },
  "overrides": [
    {
      "files": ["commentPattern.js"],
      "rules": {
        "todo-plz/ticket-ref": ["error", { "commentPattern": "TODO:\\s\\[(PROJ-[0-9]+[,\\s]*)+\\]" }]
      }
    }
  ]
}
